@import url('/Fonts/Assistant-Regular.ttf');
body {
    overflow: hidden;
    /* background-image: url(pr_images/bg.jpeg); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    overflow:hidden;
      background-color:#fcfcfc;
      margin:0;
      padding:0;
}
#album{
    width: 80vw;
    height: 80vh;
    
}
#wine-bottle{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    backface-visibility: hidden;
}
#instructions {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:transparent;
  padding: 20px;
  opacity: 1;
  transition: opacity 0.7s ease-in-out;
  z-index: 1000;
  font-family: 'Assistant', sans-serif;
  font-size: 2.5vw;
  color: #333;
  text-align: center;
}
@media (max-width: 480px) {
  body {
     width: 100%;
  }
}

  .flip-content {
      display: none;
}

  .flip-content.active {
      display: block;
}

  @media (min-width: 481px) {
  .flip-content {
      width: 50%;
    }
}